h2 {
    text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    padding: 15px;
    border-style: outset;
    color: navy;
}

body{
    background-color: lightgray;
}

.collageinspo2{
    position: absolute;
    width: 300px;
    height:300px;
    margin: 0px 0px 0px 380px;
    border-radius: 8px;
}

.collageinspo1{
    position: absolute;
    width: 300px;
    height:300px;
    margin: 200px 0px 0px 70px;
    border-radius: 8px;
}


.collageinspo3{
    position: absolute;
    width: 300px;
    height:300px;
    margin: 320px 0px 30px 380px;
    border-radius: 8px;
}

h1{
    position: absolute;
    text-align: left;
    font-size: 55px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    left: 730px;
    color: navy;
}

p{
    position: absolute;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    left: 730px;
    top: 400px;
    color: black;
}

.button1{
    position: absolute;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-color: #5D3FD3;
    background-color: #5D3FD3;
    color: white;
    padding: 10px;
    margin: 400px 0px 0px 725px;
}

.button1:hover {
    background-color: purple;
    border-color: purple;
    color: white;
  }

